<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Gameranking Analysis</title>
</head>
 
<body>
    <img src="/static/figures/gameranking/numTitlesByPlatforms.png" alt="titles by platform"> <br>
    <img src="/static/figures/gameranking/numTitlesByVerdict.png" alt="titles by verdict"> <br>
    <img src="/static/figures/gameranking/top15games.png" alt="top 15 games"> <br>
    <img src="/static/figures/gameranking/averageScoresByPlatforms.png" alt="avg score by platforms"> <br>
</body>
 
</html>