<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Metacritic Analysis</title>
</head>
 
<body>
    <img src="/static/figures/metacritic/numTitlesByPlatforms.png" alt="titles by platform"> <br>
    <img src="/static/figures/metacritic/numTitlesByMetaVerdict.png" alt="titles by metaverdict"> <br>
    <img src="/static/figures/metacritic/numTitlesByUserVerdict.png" alt="titles by userverdict"> <br>
    <img src="/static/figures/metacritic/averageMetascoreByPlatform.png" alt="avg metascore by platforms"> <br>
    <img src="/static/figures/metacritic/averageUserscoreByPlatforms.png" alt="avg userscore by platform"> <br>
</body>
 
</html>